TrinityBackend/.vs/TrinityBackend/v15/
TrinityBackend/ObITwahn.Trinity.Services.Web/bin/
TrinityBackend/ObITwahn.Trinity.Services.Web/obj/
TrinityBackend/obITwahn.Services.Common/bin/
TrinityBackend/obITwahn.Services.Common/obj/
TrinityBackend/ObITwahn.Services.Meeting.Model/bin/
TrinityBackend/ObITwahn.Services.Meeting.Model/obj/
TrinityBackend/ObITwahn.Trinity.Services.Employee.Model/obj/
TrinityBackend/ObITwahn.Trinity.Services.Employee.Model/bin/
